
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img{
    width: 150px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav_links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text_box h1{
    font-size: 62px;
}
.text_box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero_btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}
.hero_btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media (max-width:700px){
    .text_box h1{
        font-size: 20px;
    }

    /* javascript part */

    /* .nav_links{
        position: fixed;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    } */
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav .fa1{
        display: none;
    }
    .nav_links ul{
        padding: 30px;
    }
    .nav_links ul li{
        display: block;
        display: none;
    }
}

/* course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600px;
    text-transform: capitalize;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course_column{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course_column h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0px;
}
.course_column:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* compus */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus h1{
    text-transform: capitalize;
    font-size: 36px;
}
.campus_column{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus_column img{
    width: 100%;
    display: block;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}
.layer:hover{
    background-color: rgba(226, 0, 0, 0.7);
}
.layer h3{
    text-transform: uppercase;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    opacity: 0;
}
.layer:hover h3{
    bottom: 48%;
    opacity: 1;
}

/* facilities */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    font-size: 36px;
    text-transform: capitalize;
}
.facilities_column{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities_column img{
    width: 100%;
    border-radius: 10px;
}
.facilities_column h3{
    margin: 16px 0 15px 0;
    text-transform: capitalize;
}

/* testimonials */

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonials h1{
    text-transform: capitalize;
    font-size: 36px;
}
.testimonials_column{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials_column img{
    height: 50px;
    margin: 0px 30px 0px 5px;
    border-radius: 50%;
}
.testimonials_column h3{
    margin-top: 15px;
    text-align: left;
    text-transform: capitalize;
}
.testimonials_column i{
    color: #f44336;
}

/* call to action */

.call_to_action{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0px;
}
.call_to_action h1{
    font-size: 36px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 40px;
}
.hero_btn{
     text-transform: uppercase;
}
@media screen and (max-width: 700px){
    .call_to_action h1{
        font-size: 24px;
    }
}

/* footer */

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
footer h3{
    text-transform: capitalize;
    margin: 20px 0px 25px 0px;
    font-weight: 600;
}
.icons i{
    color: #f44336;
    margin: 20px 5px;
    cursor: pointer;
    padding: 5px;
    font-size: larger;
}
.fa-fire{
    color: red;
}
footer p{
    text-transform: capitalize;
}


/* about us page */

.sub_header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/backgound.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
.sub_header h1{
    color: #fff;
    text-transform: capitalize;
    margin-top: 100px;
    font-size: 36px;
}
.about_us{
    width: 80%;
    margin: auto;
    padding: 80px 0px 50px 0px;
}
.about_column{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about_column img{
    width: 100%;
}
.about_column h1{
    text-transform: capitalize;
    font-size: 36px;
}
.about_column p{
    padding: 15px 0px 25px 0px;
    text-transform: capitalize;
}
.red_btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    transition: color 0.5s;
    cursor: pointer;
}
.red_btn:hover{
    color: #fff;
}


/* blog page */

.blog_content{
    width: 80%;
    margin: auto;
    padding: 60px 0px;
}
.blog_left{
    flex-basis: 65%;
}
.blog_left img{
    width: 100%;
}
.blog_left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0px;
    text-transform: capitalize;
}
.blog_left p{
    text-transform: capitalize;
    color: #999;
}
.blog_right{
    flex-basis: 32%;
}
.blog_right h3{
    background-color: #f44336;
    color: #fff;
    padding: 7px 0px;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
}
.blog_right div{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.comment_box{
    border: 1px solid #ccc;
    margin: 50px 0px;
    padding: 10px 20px;
}
.comment_box h3{
    text-align: left;
}
.comment_form input, .comment_form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
.comment_form button{
    margin: 10px 0px;
}
@media screen and (max-width: 700px){
    .sub_header h1{
        font-size: 24px;
    }
}

/* contact us page */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0px;
}
.location iframe{
    width: 100%;
}
.contact_us{
    width: 80%;
    margin: auto;
}
.contact_column{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact_column div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact_column div i{
    font-size: 28px;
    color: #f44336;
    margin: 10px 30px 10px 10px;
}
.contact_column div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact_column input , .contact_column textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}